<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%=heroeReq.nombre%></p>
    <% if (condition == false) { %>
        <p><%= final %> </p>
    <% }else {%> 
        <p><%=heroeReq.resenia%> </p>
    <% } %> 
    <% console.log(final) %> 
    <% console.log(heroeReq.resenia) %>
        </body>
        </html>